[include mainsail.cfg]
# [include macros/*.cfg]

[exclude_object]

[idle_timeout]
timeout: 1800
gcode:
    RESPOND MSG="Idle timeout reached"

[pause_resume]

[display_status]

[respond]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h743xx_300038000B51323237363839-if00

[virtual_sdcard]
path: /home/doom/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 10000  
max_accel: 25000            #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_BFFCFE285154354D38202020FF0A212C-if00
x_offset: 0
y_offset: 24
mesh_main_direction: x
mesh_runs: 2

# home_method: contact
# home_method_when_homed: proximity
# home_autocalibrate: unhomed

[safe_z_home]
home_xy_position: 180,135
z_hop: 3

[bed_mesh]
speed: 150
mesh_min: 25,24
mesh_max: 335,261
probe_count: 40,10
algorithm: bicubic
fade_start: 0.6
fade_end: 10.0

[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20

[temperature_sensor leviathan]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor pi5]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


[temperature_sensor chamber_top]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: 0
max_temp: 200

[temperature_sensor chamber_bottom]
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 200

[temperature_sensor bed_rear]
sensor_type: PT1000
sensor_pin: PA2
min_temp: 0
max_temp: 300

#####################################################################
#   X/Y Stepper Settings
#####################################################################


# TMC5160 resistor value is 0.075Ω
# TMC2209 resistor value is  0.11Ω

##  B Stepper - Left
##  Connected to HV STEPPER 0
##  Endstop connected to X-ENDSTOP
[stepper_x]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200 # 1.8*
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0 #999999
# current_change_dwell_time:
# home_current:

##  A Stepper - Right
##  Connected to HV STEPPER 1
##  Endstop connected to Y-ENDSTOP
[stepper_y]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
diag0_pin: ^!PE10
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0 #999999
# current_change_dwell_time:
# home_current:

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to STEPPER 0
##  Endstop connected to Z-ENDSTOP
[stepper_z]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:16  
microsteps: 32
endstop_pin: probe:z_virtual_endstop
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!@todo!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
position_max: 200 # 310 in voron config, need to adjust rails first
# position_min: -5
homing_speed: 50
# second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0 # 999999

##  Z1 Stepper - Rear Left
##  Connected to STEPPER 1
[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to STEPPER 2
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to STEPPER 3
[stepper_z3]
step_pin: PG7
dir_pin: PG6
enable_pin: !PC7
rotation_distance: 40
gear_ratio: 80:16 
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PG8
#diag_pin: ^!PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

# DFH-G36HSY4405G-6DA-1500 x 1
# Step Angle: 1.8±5%
# Number of phases: 2
# Rated Voltage: 2.1V
# Rated Current: 1A
# Winding Resistance: 2.4Ω±10% @ 20°C
# Winding Inductance: 1.7±20% mH
# Holding Torque: 110nN.m
# Insulation Class: H

# S8
[extruder]
step_pin: PD10
dir_pin: PD9
enable_pin: !PD13

heater_pin: PG10
sensor_pin:  PA0
sensor_type: PT1000
# pullup_resistor: 2200

min_temp: 0
max_temp: 350
microsteps: 16
gear_ratio: 50:8
rotation_distance: 22.67895
full_steps_per_rotation: 200
nozzle_diameter: 0.4

control: mpc
heater_power: 120  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 
# ambient_temp_sensor: temperature_sensor beacon_coil #needs a verify_heater section

max_extrude_only_distance: 100.0
pressure_advance: 0.02
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PD11
run_current: 0.5 #0.6 # peak: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0 #999999
interpolate: False #True


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PG11
sensor_type: PT1000
sensor_pin: PA1
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.4
min_temp: 0
max_temp: 250
control: mpc
heater_power: 1600

# control: pid
# pid_kp: 58.437
# pid_ki: 2.347
# pid_kd: 363.769


#####################################################################
#   Fan Control
#####################################################################

[fan]  # pcf
pin: PB7
# tachometer_pin: ^PC15

[heater_fan hef]
pin: PB3
tachometer_pin: PB4

# nevermore
[heater_fan bed_fans]
pin: PF9


#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 150
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
