[include shaper_calibrate.cfg]
[include speed_test.cfg]

#####################################################################
#   Macros
#####################################################################
[gcode_macro HOME_IF_NEEDED]
variable_output: 118 ; Output method for status feedback
gcode:
    {% if "x" in rawparams|string|lower %} ; if x is in rawparams
        {% set X = True %} ; set x flag
    {% endif %}
    {% if "y" in rawparams|string|lower %} ; if y is in rawparams
        {% set Y = True %} ; set y flag
    {% endif %}
    {% if "z" in rawparams|string|lower %} ; if z is in rawparams
        {% set Z = True %} ; set z flag
    {% endif %}
    {% if rawparams|string|lower == "" %} ; if no parameters are defined
        {% set ALL = True %} ; set all flag
        {% set X = True %}   ; set x flag
        {% set Y = True %}   ; set y flag
        {% set Z = True %}   ; set z flag
    {% endif %}
    {% if printer.toolhead.homed_axes != "xyz" %} ; if not homed
        {% if "x" not in printer.toolhead.homed_axes %} ; if x is not homed
            {% set home_x = True %} ; set home_x flag
        {% endif %}
        {% if "y" not in printer.toolhead.homed_axes %} ; if y is not homed
            {% set home_y = True %} ; set home_y flag
        {% endif %}
        {% if "z" not in printer.toolhead.homed_axes %} ; if z is not homed
            {% set home_z = True %} ; set home_z flag
        {% endif %}

        {% if home_x == True and home_y == True and home_z == True %} ; if all axes need to be homed
            {% if ALL == True %} ; if all axes are being homed
                M{output} Homing all axes
                G28 ; Home all axes
            {% else %} ; if only some axes are being homed
                {% if X == True %} ; if x is being homed
                    M{output} Homing X axis
                    G28 X ; Home x axis
                {% endif %}
                {% if Y == True %} ; if y is being homed
                    M{output} Homing Y axis
                    G28 Y ; Home y axis
                {% endif %}
                {% if Z == True %} ; if z is being homed
                    M{output} Homing Z axis
                    G28 Z ; Home z axis
                {% endif %}
            {% endif %}
        {% else %} ; if only some axes need to be homed
            {% if home_x == True %} ; if x needs to be homed
                {% if X == True %} ; if x is being homed
                    M{output} Homing X axis
                    G28 X ; Home x axis
                {% endif %}
            {% endif %}
            {% if home_y == True %} ; if y needs to be homed
                {% if Y == True %} ; if y is being homed
                    M{output} Homing Y axis
                    G28 Y ; Home y axis
                {% endif %}
            {% endif %}
            {% if home_z == True %} ; if z needs to be homed
                {% if Z == True %} ; if z is being homed
                    M{output} Homing Z axis
                    G28 Z ; Home z axis
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %} ; if already homed
        M{output} All axes are homed
    {% endif %}

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
  HOME_IF_NEEDED                 ; home all axes
  G90                            ; absolute positioning
  G1 Z20 F3000                   ; move nozzle away from bed

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
  M400                           ; wait for buffer to clear
  G92 E0                         ; zero the extruder
  G1 E-4.0 F3600                 ; retract filament
  G91                            ; relative positioning

  #   Get Boundaries
  {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
  {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

  #   Check end position to determine safe direction to move
  {% if printer.toolhead.position.x < (max_x - 20) %}
  {% set x_safe = 20.0 %}
  {% else %}
  {% set x_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.y < (max_y - 20) %}
  {% set y_safe = 20.0 %}
  {% else %}
  {% set y_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.z < (max_z - 10) %}
  {% set z_safe = 2.0 %}
  {% else %}
  {% set z_safe = printer.toolhead.position.z + 10 %}
  {% endif %}

  G0 Z{z_safe} F3600             ; move nozzle up
  G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
  TURN_OFF_HEATERS
  M107                           ; turn off fan
  G90                            ; absolute positioning
  G0 X60 Y{max_y-10} F3600       ; park nozzle at rear

[gcode_macro LOAD_FILAMENT]
gcode:
  M83                            ; set extruder to relative
  G1 E30 F300                    ; load
  G1 E15 F150                    ; prime nozzle with filament
  M82                            ; set extruder to absolute

[gcode_macro UNLOAD_FILAMENT]
gcode:
  M83                            ; set extruder to relative
  G1 E10 F300                    ; extrude a little to soften tip
  G1 E-40 F1800                  ; retract some, but not too much or it will jam
  M82                            ; set extruder to absolute

[gcode_macro GENERATE_BED_MESH]
gcode:
  HOME_IF_NEEDED
  BED_MESH_CALIBRATE
  BED_MESH_PROFILE SAVE=p1
  G28

[gcode_macro LEVEL_SCREWS]
gcode:
  HOME_IF_NEEDED
  SCREWS_TILT_CALCULATE
  
[gcode_shell_command plot_graph]
command: bash /home/devon/printer_data/config/scripts/plot_graphs.sh
timeout: 500.0
verbose: True